<script src="/script/gamesFormInput.js" type="module" defer></script>
<form action="<%- params.action %>" method="post">
  <input
    type="text"
    name="title"
    placeholder="Game's title"
    value="<%= locals.params.game?.title %>"
  />
  <input
    type="number"
    name="rating"
    step="0.1"
    placeholder="Game's rating"
    value="<%= params.game?.rating %>"
  />
  <input
    type="text"
    name="logoUrl"
    placeholder="Logo image url"
    value="<%= locals.params.game?.logo_url %>"
  />
  <input
    type="text"
    name="bannerUrl"
    placeholder="Banner image url"
    value="<%= locals.params.game?.banner_url %>"
  />
  <input
    type="date"
    name="releaseDate"
    placeholder="Release date"
    value="<%= locals.params.game?.release_date %>"
  />
  <input type="button" class="studioModalBtn" value="Choose Studio">
  <input type="hidden" name="studioId" class="studioId" value="<%= locals.params.game?.studio_id %>">
  <input type="hidden" name="genre" class="genre-input" value="<%= locals.params.game?.genre %>">
  <button type="button" class="genreModalBtn">Add genre</button>
  <div class="genres-listing">
    <%- include(views.genresBulletList, {params: {genres: []}}) %>
  </div>
  <button type="submit">Submit</button>
</form>
<dialog class="modal">
  <div class="studios-div">
    <%- include(locals.views.studiosList, {params: params, toggle: true}) %>
  </div>
  <div class="genres-div">
    <%- include(locals.views.genresList, {params: params, toggle: true}) %>
  </div>
  <button class="closeBtn">Done</button>
</dialog>
